.modal-overlay {
    position: fixed;
    top: 5vh;
    left: 0;
    right: 0;
    bottom: 5vh; 
    z-index: 1000;
  }
  
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    outline: none;
    padding: 20px;
    border-radius: 8px;
  }
.modal-open {
  overflow: hidden;
}

.dark-mode .modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.dark-mode .modal-content {
  background: black;
}